
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to right, #FFFFFF, #FAF9F6);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
}


.logo {
  display: flex;
  height: 30px;
}

.boxx {
  display: flex;
  border-radius: 10px;
  border: black;
}

.form {
  display: flex;
  flex-direction: column;
}


/*BOOTSTRAP CSS*/

/*HOMEPAGE*/

.full-screen-container {
  width: 90vw;
  margin-left: 10vw;
  top: 0px;
}

.project-title {
  font-size: 80px;
  font-weight: bold;
  text-shadow: 2px 2px 2px #000000;
  letter-spacing: 2px
}

.text-container{
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 20px;
  text-align: center;
}

.slogan h2 {
  font-size: 50px;
  font-weight:bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #1a1a1a;
  margin: 0;
}

.card {
  width: 400px;
  height: 300px;
  background-color: #E2EBF5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.card-container a,
.sidebar a {
text-decoration: none;
}

.card-1 {
  background-color: #E2EBF5;
}

.card-2 {
  background-color: #C5D3E8;
}

.card-3 {
  background-color: #A1B6D2;
}

.text-center {
  text-align: center;
}


/*SIDEBAR*/

.sidebar {
  width: 10vw;
  top: 0px;
  left: 0px;
  background: #A6AEBF;
}


.sidebar-content {
  padding-top: 100px;
  margin-left: 1vw;
  border-bottom: 1px solid #000000;
}

.sidebar-categories {
  padding-top: 20px;
  margin-left: 1vw;
}

.nav-link-custom {
  color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
}


.nav-link-custom i {
  margin: 8px;
}


/*HEADER*/

.header-container {
  width: 10vw;
  top: 20px;
  margin-left: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
}

.logo {
  width: 40px;
  height: auto;
}

.header-title {
  text-align: center;
  margin: 0.25rem;
}

.navBar {
  width: 100vw;
  top: 20px;
  margin-left: 10vw;
  display: flex;
  flex-direction: row;
  position: fixed;
}

.search-bar {
  text-align: center;
  margin: 0.25rem;
}


/*ABOUT PAGE*/

.about-container {
  width: 90vw;
  margin-left: 10vw;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 2px;
}


/*SKILLS LIST*/

.skills-list-container {
  width: 90vw;
  margin-left: 10vw;
  background: linear-gradient(to right, #FFFFFF, #FAF9F6);
}


.skills-title {
  font-weight: bold;
  margin-top: 3rem;
}


.skill-card {
  width: 400px;
  height: 500px;
  background-color: #E2EBF5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 1rem;
}

.card-img-container {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 40px;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-title {
  color: black;
  text-align: center;
  margin: 1rem;
}


.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  color: black;
}


.loading-message {
  text-align: center;
}


/*SKILL DETAILS PAGE*/

.skill-details-container {
  width: 90vw;
  margin-left: 10vw;
  background: linear-gradient(to right, #FFFFFF, #FAF9F6);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.skill-details-card {
  width: 1000px;
  height: auto;
  margin: 10vh;
  background-color: #E2EBF5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skill-image-title-container {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.skill-title {
  font-size: 2rem;
  font-weight: bold;
}

.skill-image {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.skill-info-container {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.skill-info {
  font-size: 1rem;
}

.save-btn-container,
.add-btn-container,
.btns-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.back-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.back-btn,
.create-btn, 
.add-btn {
  margin: 1rem;
  justify-content: center;
}

.add-btn-container {
  display: flex;
  justify-content: right;
  width: 100%;
}


/*CREATE SKILL PAGE*/

.add-skill-details-card {
  width: 1000px;
  height: auto;
  margin: 10px;
  background-color: #E2EBF5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-skill-info-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 5px;
}

.add-skill-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Acrescentado pela Mariana - ver o que é preciso alterar */

.NavBar {
  background-color: rgb(160, 169, 187);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: 20px;
}

.span {
  margin: 10px;
}

.logo {
  width: 50px;
  height: auto;
}